[submodule "tools/polly"]
	path = tools/polly
	url = https://github.com/cpp-pm/polly
[submodule "tools/gate"]
	path = tools/gate
	url = https://github.com/cpp-pm/gate
[submodule "https:/github.com/BMSTU-2019-LAB/02-lab-04-templates-matrix-callmemiya/tools"]
	path = https:/github.com/BMSTU-2019-LAB/02-lab-04-templates-matrix-callmemiya/tools
	url = https://github.com/BMSTU-2019-LAB/02-lab-04-templates-matrix.git
